{% extends "basic.html" %}

{% block css %}
<link rel="stylesheet" href="{{ static_url("ppmessage/css/download.css") }}" />
{% end %}

{% block content %}
<div class="section-intro">
  <div class="content">
    <!-- <img class="column column-left device" src="{{ static_url("ppmessage/img/drive-devices.jpg") }}" /> -->
    <img class="column column-left device" src="{{ static_url("ppmessage/img/dw-download.png") }}" />
    <div class="column column-right" >
      
      <h2 class="heading-headline">{{ _("get_ppmessage") }}</h2>
      <p class="section-body">
        {{ _("install_ppmessage") }}
      </p>
      <div class="download-wrapper">
        <a class="btn-blue button-download">
          {{ _("download_ppmessage") }}
          <span class="arrow-dropdown"></span>
        </a>
        <ul class="dropdown-list">
          <li class="download-mac">
            <a href="{{ static_url("releases/v1.1.1/PPMessage-v1.1.1-osx.dmg") }}">Mac</a>
          </li>
          <li class="download-win32">
            <a href="{{ static_url("releases/v1.1.1/PPMessage-v1.1.1-win32-setup.exe") }}">Win 32bit</a>
          </li>
          <li class="download-win64">
            <a href="{{ static_url("releases/v1.1.1/PPMessage-v1.1.1-win64-setup.exe") }}">Win 64bit</a>
          </li>
          <li class="download-android">
            <a href="{{ static_url("releases/v1.1.1/PPMessage-v1.2.0.apk") }}">Android</a>
          </li>
          <li class="download-android">
            <a class="appstore" href="https://play.google.com/store/apps/details?id=com.ppmessage.ppkefu" target="_blank">
              <img width="135px" height="40px" src="{{ static_url("ppmessage/img/google-play-badge.png") }}" />
            </a>
          </li>
          <li class="download-ios">
            <a class="appstore" href="https://itunes.apple.com/cn/app/ppmessage/id1100663783" target="_blank">
              <img src="{{ static_url("ppmessage/img/App-Store-Badge.png") }}" />
            </a>
          </li>
        </ul>
      </div>
      
    </div>
  </div>
</div>
{% end %}

{% block js %}
<script src="{{ static_url("ppmessage/js/download.js") }}"></script>
{% end %}
