{% extends "basic_with_introduction.html" %}

{% block section-css %}
<link rel="stylesheet" href="{{ static_url("ppmessage/css/index.css") }}" />
{% end %}

{% block section %}

<div class="container" style="padding-top:60px;">
  <h3 class="text-center">{{ _("three_steps_integration") }}</h3>
  
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <div class="col-lg-4">
        <img src="{{ static_url("ppmessage/img/icon-01.png") }}" class="img-responsive">
        <h4>{{ _("three_steps_register") }}</h4>
      </div>
      <div class="col-lg-4">
        <img src="{{ static_url("ppmessage/img/icon-02.png") }}" class="img-responsive">
        <h4>{{ _("three_steps_embedded") }}</h4>
      </div>
      <div class="col-lg-4">
        <img src="{{ static_url("ppmessage/img/icon-03.png") }}" class="img-responsive">
        <h4>{{ _("three_steps_chat") }}</h4>
      </div>
    </div>
  </div>
</div>

<div class="feature-open">
  <div class="content">
    <div class="title"><h2 class="heading-headline"></h2></div>
    <img class="column column-left" src="{{ static_url("ppmessage/img/feature-api.png") }}" />
    <div class="column column-right">
    </div>
    <div class="snav"><ul></ul></div>
    <div class="prev"></div>
    <div class="next"></div>
  </div>
</div>

<div class="section-download">
  <div class="content">
    <div class="section-centered">
      
      <div class="one-whole">
        <img class="logo-small" src="{{ static_url("ppmessage/img/logo_white.png") }}"/>
        <h1 class="heading-headline">{{ _("get_started_free") }}</h1>
        <a class="btn-blue maia-button button-download" href="/user/#/app/signin/">{{ _("get_started") }}</a>  
      </div>
      
    </div>
  </div>
</div>
{% end %}

{% block section-js %}
<script src="{{ static_url("ppmessage/js/index.js") }}"></script>
{% end %}
