<div style="padding-top:0">
  
  <!-- Change Password -->
  <div class="boxed-group">
    <h3>{{ "statistics.advanced_settings.CHANGE_PASSWORD_TAG" | translate }}</h3>
    <div class="boxed-group-inner" style="padding-left:20px;">
      <form accept-charset="UTF-8" class="edit_user" ng-submit="changepassword(user)">

        <md-input-container class="md-block">
          <label>{{ "statistics.advanced_settings.CURRENT_PASSWORD_TAG" | translate }}</label>
          <input type="password" ng-model="user.user_old_password" required>
        </md-input-container>

        <md-input-container class="md-block md-icon-float md-icon-right" style="padding-left:0px !important;">
          <label> {{ "statistics.advanced_settings.NEW_PASSWORD_TAG" | translate }} </label>
          <input type="{{ user.password_input_type }}" ng-model="user.user_new_password" required>
          <md-icon md-font-set="material-icons" ng-if="!user.user_password_is_visible" ng-click="show_user_password(true)"> visibility </md-icon>
          <md-icon md-font-set="material-icons" ng-if="user.user_password_is_visible" ng-click="show_user_password(false)"> visibility_off </md-icon>
        </md-input-container>

        <!-- <dl class="form password-confirmation-form"> -->
        <!--   <dt><label for="user_old_password">{{ "statistics.advanced_settings.CURRENT_PASSWORD_TAG" | translate }}</label></dt> -->
        <!--   <dd><input id="user_old_password" ng-model="user.oldpassword" required="required" tabindex="1" type="password"></dd> -->
        <!-- </dl> -->
        <!-- <dl class="form password-confirmation-form"> -->
        <!--   <dt><label for="user_new_password">{{ "statistics.advanced_settings.NEW_PASSWORD_TAG" | translate }}</label></dt> -->
        <!--   <dd><input id="user_new_password" ng-model="user.newpassword" required="required" tabindex="2" type="password"></dd> -->
        <!-- </dl> -->
        <!-- <dl class="form password-confirmation-form"> -->
        <!--   <dt><label for="user_confirm_new_password">{{ "statistics.advanced_settings.REPEAT_NEW_PASSWORD_TAG" | translate }}</label></dt> -->
        <!--   <dd><input id="user_confirm_new_password"  ng-model="user.confirmnewpassword" required="required" tabindex="3" type="password"></dd> -->
        <!-- </dl> -->

        <p>
          <md-button class="md-raised" type="submit">
            {{ "statistics.advanced_settings.SAVE_TAG" | translate }}
          </md-button>
        </p>
        
      </form>
    </div>
  </div>
  
</div>
