<div class="boxed-group">
  <h3>{{ "settings.menu.SERVICE_GROUP_TAG" | translate }}</h3>
  <div class="boxed-group-inner clearfix">
    <div class="group_header">
      {{ "application.grouping.SERVICE_GROUP_MANAGER_TAG" | translate }}
      <div class="move">
        <span class="l">{{ "application.grouping.MOVE_TO" | translate }}</span>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">{{ "application.grouping.SELECT_GROUP" | translate }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li ng-repeat="group in team.group_list | filter: switchGroupListFilter | orderBy: 'createtime' " ng-click="switch_group(group, $index)">{{handle_group_name(group.group_name, 5)}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="con">
      <div class="le">
        <p id="default_highlight"><a ng-click="get_all_service()">{{ "application.grouping.ALL_SERVICE_USER" | translate }}（{{team.service_user_list.length}}）</a></p>
        <ul>
          <li ng-repeat="group in team.group_list | orderBy: 'createtime' " id="colored_group_{{$index}}" class="not_exist">
            
            <a ng-click="checkout_to_group( group, $index )" >{{handle_group_name(group.group_name, 12)}}</a>
            <!-- <i class="material-icons" ng-show="group.is_distributor" >message</i> -->
            <i class="glyphicon glyphicon-headphones" ng-show="group.is_distributor" ></i>
            <i class="glyphicon glyphicon-pencil dd" ng-click="show_update_group_modal( group, $index )" ng-show="isGroupEditable(group)" ></i>
            <i class="glyphicon glyphicon-trash dd" ng-click="remove_group( group, $index )" ng-show="isGroupEditable(group)" ></i>
            
          </li>
        </ul>
        <span  ng-click="show_create_group_modal()">
          <i class="glyphicon glyphicon-plus"></i>
          {{ "application.grouping.NEW_GROUP" | translate }}
        </span>
      </div>
      <div class="ri">
        <table class="table">
          <thead>
            <tr>
              <th><a ng-click="checkAll()" ng-show="showCheckAllColumn" >{{ "application.grouping.SELECT_ALL" | translate }}</a></th>
              <th>{{ "application.grouping.LOGIN_EMAIL" | translate }}</th>
              <th>{{ "application.grouping.ROLE" | translate }}</th>
              <th>{{ "application.grouping.GROUP_IN" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in team.current_list.user_list | orderBy: 'createtime' ">
              <td><input type="checkbox" id="current_list_{{$index}}" ng-click="select_user($index)" ng-show="showCheckAllColumn" /></td>
              <td>{{user.user_email}}</td>
              <td>{{show_identify(user.user_email)}}</td>
              <td>{{handle_group_name(user.user_group_name, 12)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="create_group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="top: 150px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          <strong>{{ "application.grouping.CREATE_GROUP" | translate }}</strong>
        </h4>
      </div>
      <div class="modal-body">

        <form name="createGroupForm">
          
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>{{ "application.grouping.GROUP_NAME" | translate }}</label>
              <input ng-model="new_group_name" name="new_group_name" md-maxlength="64" required md-no-asterisk>
              <div ng-messages="createGroupForm.new_group_name.$error">
                <div ng-message="required">{{ create_group_error.name_error }}</div>
                <div ng-message="md-maxlength">The name has to be less than 64 characters long.</div>
              </div>
            </md-input-container>
          </div>

          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>{{ "application.grouping.GROUP_DESC" | translate }}</label>
              <input ng-model="new_group_desc" name="new_group_desc" md-maxlength="64" required md-no-asterisk>
              <div ng-messages="createGroupForm.new_group_desc.$error">
                <div ng-message="required">{{ create_group_error.desc_error }}</div>
                <div ng-message="md-maxlength">The description has to be less than 64 characters long.</div>
              </div>
            </md-input-container>
          </div>

          <div layout-gt-sm="row">
            <md-switch ng-model="new_group_is_distributor" aria-label="">
              {{ "application.grouping.DISTRIBUTOR_TAG" | translate }}
            </md-switch>
          </div>

        </form>
        
      </div>
      <div class="modal-footer">
        <md-button class="md-raised md-primary" ng-click="create_group()"> {{ "application.grouping.CREATE_GROUP" | translate }} </md-button>
        <!-- <button type="submit" class="btn btn-primary" ng-click="create_group()" tabindex="5" >{{ "application.grouping.CREATE_GROUP" | translate }}</button> -->
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="update_group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="top: 150px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          <strong>{{ "application.grouping.MODIFY_GROUP" | translate }}</strong>
        </h4>
      </div>
      <div class="modal-body">

        <form name="updateGroupForm">
          
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>{{ "application.grouping.GROUP_NAME" | translate }}</label>
              <input ng-model="selected_group.group_name" name="update_group_name" md-maxlength="64" required md-no-asterisk>
              <div ng-messages="createGroupForm.update_group_name.$error">
                <div ng-message="required">{{ update_group_error.name_error }}</div>
                <div ng-message="md-maxlength">The name has to be less than 64 characters long.</div>
              </div>
            </md-input-container>
          </div>

          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>{{ "application.grouping.GROUP_DESC" | translate }}</label>
              <input ng-model="selected_group.group_desc" name="update_group_desc" md-maxlength="64" required md-no-asterisk>
              <div ng-messages="updateGroupForm.update_group_desc.$error">
                <div ng-message="required">{{ update_group_error.desc_error }}</div>
                <div ng-message="md-maxlength">The description has to be less than 64 characters long.</div>
              </div>
            </md-input-container>
          </div>

          <div layout-gt-sm="row">
            <md-switch ng-model="selected_group.is_distributor" aria-label="">
              {{ "application.grouping.DISTRIBUTOR_TAG" | translate }}
            </md-switch>
          </div>
        </form>
      </div>
      
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="update_group()" tabindex="5">{{ "application.grouping.SAVE" | translate }}</button>
      </div>
    </div>
  </div>
</div>
