<div class="container" style="width:100%;margin-top:15px;">
  <div class="subnav org-toolbar">

    <div class="batch-middle right">
      <!--
      <a href="javascript:void(0);" class="btn btn-primary" ng-click="show_batch_modal()">
        <i class="glyphicon glyphicon-plus"></i>
        {{ "application.people.CREATE_SERVICE_USER_TAG" | translate }}
      </a>
      -->
      <md-button class="md-raised" ng-click="show_batch_modal()"> {{ "application.people.CREATE_SERVICE_USER_TAG" | translate }} </md-button>
    </div>

    <div class="left non-admin-search">
      
      <md-input-container class="md-block md-icon-float">
        <md-icon md-font-set="material-icons"> search </md-icon>
        <label>{{ 'application.people.SEARCH_TAG' | translate }}...</label>
        <input type="search" ng-model="search_value" ng-change="page_app_user(newPageNumber)" autocomplete="off">
      </md-input-container>
      <!-- 
      <div class="auto-search-group">
        <input class="subnav-search-input input-contrast auto-search-input" type="text" name="query" ng-model="search_value" ng-change="page_app_user(newPageNumber)" placeholder="{{ 'application.people.SEARCH_TAG' | translate }}..." autocomplete="off">
        <i class="glyphicon glyphicon-search"></i>
      </div>
      -->
      
    </div>

  </div>
  
  <div class="table-list-header">
    <label class="table-list-header-select-all">
      <input type="checkbox" id="select-all-checkbox" ng-model="selectedAll" ng-click="checkAll()">
    </label>
    <label for="select-all-checkbox" class="table-list-header-meta member-list-select-all-label">
      <span>{{ "application.people.SELECT_ALL_TAG" | translate }}</span>
    </label>
    <div class="member-toolbar-actions right" ng-show="should_show_remove_button()">
      <a href="javascript:void(0);" class="btn btn-sm btn-danger" ng-click="show_remove_modal()">{{ "application.people.REMOVE_SERVICE_USER_TAG" | translate }}</a>
    </div>
  </div>

  <div id="org-members">
    <ul class="member-listing table-list table-list-bordered adminable">
      <li class="table-list-item member-list-item" dir-paginate="member in group | itemsPerPage: items_per_page" current-page="page_number" total-items="total_items">
        <!--      <li class="table-list-item member-list-item" ng-repeat="member in group"> -->
        <div class="table-list-cell table-list-cell-checkbox">
          <input type="checkbox" class="js-check-all-item js-org-person-toggle" ng-model="member.selected" ng-disabled="member.is_owner_user==1">
        </div>

        <div class="table-list-cell member-info">
          <!-- <img alt="{{member.device_user_fullname}}" class="avatar member-list-avatar" height="48" ng-src="{{member.device_user_icon?'/icon/'+member.device_user_icon:'/static/yvertical/img/default-app.png'}}" width="48"> -->
          <span class="member-link css-truncate">
            <strong class="member-username css-truncate-target">{{member.user_fullname}}</strong>
          </span>
        </div>

        <div class="member-meta table-list-cell" style="font-size:15px;" ng-show="{{member.is_owner_user==1}}">
          {{ "application.people.OWNER_TAG" | translate }}
        </div>
        <div class="member-meta table-list-cell" style="font-size:15px;" ng-show="{{!member.is_owner_user==1}}">
          {{ "application.people.SERVICE_USER_TAG" | translate }}
        </div>

        <div class="member-meta table-list-cell" style="font-size:15px;padding-left:0">
          {{email_handler(member.user_email)}}
        </div>
        
      </li>
    </ul>
    <div class="paginate-container">
      <dir-pagination-controls auto-hide="false" boundary-links="true" on-page-change="page_app_user(newPageNumber)" template-url="/user/static/bower_components/angular-utils-pagination/dirPagination.tpl.html">
      </dir-pagination-controls>
    </div>
  </div>
</div>

<div class="modal fade" id="remove_user">
  <div class="modal-dialog" style="margin-top: 300px;width: 600px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><strong>{{ "application.people.REMOVE_SERVICE_USER_TAG" | translate }}</strong></h4>
      </div>
      <div class="modal-body" style="color: #D03F3F;">
        <p>{{ "application.people.REMOVE_SERVICE_USER_PROMOTE_TAG" | translate }} </p>
        <p ng-repeat="user in to_be_removed_users" style="color: #000000;"> {{ user.user_fullname }} </p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ "application.people.CANCEL_TAG" | translate }}</button>
        <button type="button" class="btn btn-danger" style="background-image: linear-gradient(#C16552, #E24215);"
                ng-click="remove_users(to_be_removed_users)">{{ "application.people.OK_TAG" | translate }}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="batch_create_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog" role="document" style="top: 150px;" >
    <div class="modal-content" >
      <form name="create-service-user-form" ng-submit="create_service_user_form_submit()">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">
            <strong>{{ "application.people.CREATE_SERVICE_USER_TAG" | translate }}</strong>
          </h4>
        </div>
        
        <div class="modal-body">
          <md-input-container class="md-block">
            <label>{{ "application.people.SERVICE_USER_NAME_TAG" | translate }}</label>
            <input ng-model="create_user_direct.name" md-maxlength="64" required>
          </md-input-container>

          <md-input-container class="md-block">
            <label>{{ "application.people.SERVICE_USER_EMAIL_TAG" | translate }}</label>
            <input ng-model="create_user_direct.email" md-maxlength="128" required>
          </md-input-container>

          <md-input-container class="md-block md-icon-float md-icon-right" style="padding-left:0px !important;">
            <label>{{ "application.people.PASSWORD_TAG" | translate }}</label>
            <input type="{{ create_user_direct.password_input_type }}" ng-model="create_user_direct.password" required>
            <md-icon md-font-set="material-icons" ng-if="!create_user_direct.user_password_is_visible" ng-click="show_user_password(true)"> visibility </md-icon>
            <md-icon md-font-set="material-icons" ng-if="create_user_direct.user_password_is_visible" ng-click="show_user_password(false)"> visibility_off </md-icon>
          </md-input-container>
        </div>
        
        <div class="modal-footer">
          <md-button type="submit" class="md-raised">{{ "application.people.CREATE_TAG" | translate }}</md-button>
        </div>
        
      </form>
    </div>
  </div>
</div>

