<!-- Public Profile -->
<div class="boxed-group">
  <h3>{{ "settings.menu.BASIC_CONFIG_TAG" | translate }}</h3>
  <div class="boxed-group-inner clearfix">
    <form accept-charset="UTF-8" class="columns" ng-submit="submit(user)">

      <div class="column two-thirds">

        <md-input-container class="md-block">
          <label>{{ "statistics.userprofile.EMAIL_TAG" | translate }}</label>
          <input ng-model="user.email" disabled />
        </md-input-container>

        <md-input-container class="md-block">
          <label>{{ "statistics.userprofile.USER_NAME_TAG" | translate }}</label>
          <input ng-model="user.fullname" required="required" />
        </md-input-container>
        
        <md-button type="submit" class="md-raised" tabindex="2" >
          {{ "statistics.userprofile.SAVE_TAG" | translate }}
        </md-button>
        
      </div>
    </form>
  </div>
</div>
