
.config-buttons section {
    background: #f7f7f7;
    border-radius: 3px;
    text-align: center;
    margin: 1em;
    position: relative !important;
    padding-bottom: 10px;
}

.config-buttons section .md-button {
    margin-top: 16px;
    margin-bottom: 16px;
}