<div class="boxed-group">
  <h3>{{ "settings.menu.BASIC_CONFIG_TAG" | translate }}</h3>
  <div class="boxed-group-inner clearfix">
    <md-content layout-padding>
      <form accept-charset="UTF-8" ng-submit="modify()">

        <md-input-container class="md-block">
          <label>Team UUID (app_uuid)</label>
          <input ng-model="team_info.app_uuid" disabled />
        </md-input-container>

        <md-input-container class="md-block">
          <label>PPCom API Key (PPCom api_key)</label>
          <input ng-model="team_info.ppcom.api_key" disabled />
        </md-input-container>

        <md-input-container class="md-block">
          <label>PPCom API Secret (PPCom api_secret)</label>
          <input ng-model="team_info.ppcom.api_secret" disabled />
        </md-input-container>

        <md-input-container class="md-block">
          <label>PPKefu API Key (PPKefu api_key)</label>
          <input ng-model="team_info.ppkefu_thirdparty.api_key" disabled />
        </md-input-container>

        <md-input-container class="md-block">
          <label>PPKefu API Secret (PPKefu api_secret)</label>
          <input ng-model="team_info.ppkefu_thirdparty.api_secret" disabled />
        </md-input-container>

        <md-input-container class="md-block">
          <label>PPConsole API Key (PPConsole api_key)</label>
          <input ng-model="team_info.ppconsole_thirdparty.api_key" disabled />
        </md-input-container>

        <md-input-container class="md-block">
          <label>PPConsole API Key (PPConsole api_secret)</label>
          <input ng-model="team_info.ppconsole_thirdparty.api_secret" disabled />
        </md-input-container>

        <md-input-container class="md-block">
          <label>{{ "field.TEAM_NAME_TAG" | translate }}</label>
          <input ng-model="team_info.app_name" />
        </md-input-container>

        <md-button type="submit" class="md-raised">
          {{ "action.SAVE" | translate }}
        </md-button>
        
      </form>
    </md-content>
    
  </div>
</div>
</div>

