<div class="boxed-group">
  <h3>{{ "application.menu.BASIC_INFO" | translate }}</h3>
  <div class="boxed-group-inner clearfix">
    <md-content layout-padding>
      <form accept-charset="UTF-8" ng-submit="modify()">

        <md-input-container class="md-block">
          <label>Team UUID (app_uuid)</label>
          <input ng-model="team_info.app_uuid" disabled />
        </md-input-container>

        <md-input-container class="md-block">
          <label>PPCom API Key (PPCom api_key)</label>
          <input ng-model="team_info.ppcom.api_key" disabled />
        </md-input-container>

        <md-input-container class="md-block">
          <label>PPCom API Secret (PPCom api_secret)</label>
          <input ng-model="team_info.ppcom.api_secret" disabled />
        </md-input-container>

        <md-input-container class="md-block">
          <label>PPKefu API Key (PPKefu api_key)</label>
          <input ng-model="team_info.ppkefu_thirdparty.api_key" disabled />
        </md-input-container>

        <md-input-container class="md-block">
          <label>PPKefu API Secret (PPKefu api_secret)</label>
          <input ng-model="team_info.ppkefu_thirdparty.api_secret" disabled />
        </md-input-container>

        <md-input-container class="md-block">
          <label>PPConsole API Key (PPConsole api_key)</label>
          <input ng-model="team_info.ppconsole_thirdparty.api_key" disabled />
        </md-input-container>

        <md-input-container class="md-block">
          <label>PPConsole API Key (PPConsole api_secret)</label>
          <input ng-model="team_info.ppconsole_thirdparty.api_secret" disabled />
        </md-input-container>

        <md-input-container class="md-block">
          <label>{{ "application.teamprofile.TEAM_NAME" | translate }}</label>
          <input ng-model="team_info.app_name" />
        </md-input-container>

        <md-button type="submit" class="md-raised">
          {{ "application.teamprofile.SAVE" | translate }}
        </md-button>
        
      </form>
    </md-content>
    
  </div>
</div>
</div>

<div class="boxed-group dangerzone" ng-if="can_delete">
  <h3>{{ "global.DELETE_TEAM_TAG" | translate }}</h3>
  <div class="boxed-group-inner">
    <p>{{ "global.DELETE_TEAM_NOTE_TAG" | translate }} </p>

    <p><button type="button" class="btn btn-danger" tabindex="4" ng-click="show_remove_modal()">{{ "global.DELETE_TEAM_CONFIRM" | translate }}</button></p>
  </div>
</div>

<div class="modal fade" id="remove_app">
  <div class="modal-dialog" style="margin-top: 300px;width: 400px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><strong>{{ "global.DELETE_TEAM_TAG" | translate }}</strong></h4>
      </div>
      <div class="modal-body" style="color: #D03F3F;">
        <p>{{ "global.DELETE_TEAM_NOTE_DATA_TAG" | translate }}</p>
        <p>{{ "global.DELETE_TEAM_NOTE_MEAN_TAG" | translate }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ "global.DELETE_TEAM_CANCEL_TAG" | translate }}</button>
        <button type="button" class="btn btn-danger" style="background-image: linear-gradient(#C16552, #E24215);"
                ng-click="remove_app()">{{ "global.DELETE_TEAM_CONFIRM_TAG" | translate }}</button>
      </div>
    </div>
  </div>
</div>
