<!-- Public Profile -->
<div class="boxed-group">
  <h3>{{ "settings.menu.BASIC_CONFIG_TAG" | translate }}</h3>
  <div class="boxed-group-inner clearfix">
    <md-content layout-padding>
      <form accept-charset="UTF-8" ng-submit="submit(user)">
        <md-input-container class="md-block">
          <label>{{ "field.USER_EMAIL_TAG" | translate }}</label>
          <input ng-model="user.email" disabled />
        </md-input-container>

        <md-input-container class="md-block">
          <label>{{ "field.USER_FULLNAME_TAG" | translate }}</label>
          <input ng-model="user.fullname" required="required" />
        </md-input-container>
        
        <md-button type="submit" class="md-raised" tabindex="2" >
          {{ "action.SAVE_TAG" | translate }}
        </md-button>
      </form>
    </md-content>
  </div>
</div>
