<div class="boxed-group">
  <h3>{{ "global.WELCOME_TAG" | translate }}</h3>
  <div class="boxed-group-inner clearfix">
    <md-content layout-padding>
      <form name="basicForm" ng-submit="update_team_info(basicForm.$dirty)">
        
        <md-input-container class="md-block">
          <label>{{ "global.WELCOME_TAG" | translate }}</label>
          <input ng-model="current_bubble.welcome_message" required/>
        </md-input-container>

        <md-button class="md-raised" type="submit">
          {{ "action.SAVE_TAG" | translate }}
        </md-button>
        
      </form>
    </md-content>
  </div>
</div>

<div class="boxed-group">
  <h3>{{ "global.COLOR_TAG" | translate }}</h3>
  <div class="boxed-group-inner clearfix">
    <md-content layout-padding>

      <div layout="row">

        <div flex="25" align-layout="center center">
          <div class="color-picker" style="padding-top:10px;">
            <input type="text" class="form-control" ng-model="current_bubble.ppcom_launcher_color" yvcolorpicker ng-blur="change_ppcom_color()"/>
          </div>
        </div>

        <div flex="auto">
        </div>
        
        <div flex="10" align-layout="center center">
          <div ng-style="get_launcher_style()" class="default_bubble_color">
          </div>
        </div>
        
      </div>
    </md-content>
  </div>
</div>


