<md-dialog aria-label="Initialize Database"  ng-cloak>
  <form ng-submit="initialize()">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Intialize Database</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="static/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Initialize Database</h2>

        <p style="padding-bottom: 20px;">
          Config your database for PPMessage. If not sure what you should do here, choose SQLITE. MYSQL/PSQL needs you have mysql/postgresql server already run and needs more information.
        </p>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Database Type</label>
          <md-select ng-model="database.type">
            <md-option ng-repeat="db_type in database_types" value="{{db_type}}">
              {{db_type}}
            </md-option>
          </md-select>
        </md-input-container>

        
            
        <p></p>
      </div>
    </md-dialog-content>
    
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button type="submit">
        Initialize
      </md-button>
    </md-dialog-actions>
    
  </form>
</md-dialog>
